page-puntos-de-venta {
  > .content {
    background-color: color($colors, light);
  }
  ion-spinner {
    width: 100%;
  }
  .resumen-venta {
    .title {
      padding: 10px 5px;
      text-align: center;
      font-size: larger;
      font-weight: bold;
      background-color: color($colors, primary);
      vertical-align: center;
    }
    .resumen-content {
      padding: 10px 5px;
      .precio {
        font-weight: bold;
        margin-top: 5px;
        text-align: right;
      }
    }
  }
  .buttons-container {
    text-align: right;
  }
}
