ticket-pago {

  .label-titulo {
    font-size: 1.5rem;
  }

  .label-valor {
    font-size: 1.7rem;
  }

  .element {
    margin-top: 0;
  }

  .select-disabled, .item-select-disabled ion-label {
    opacity: 1;
  }

  ion-spinner {
    width: 100%;
    transform: scale(3);
    margin-top: 40%;
  }


  
}