<ion-content padding-vertical class="no-scrollbar">
    <ion-grid class="full-height">
        <ion-row class="full-height">
            <ion-col col-12 offset-md-3 col-md-6 class="full-height">
                <div class="ticketway-card full-height">
                    <ion-header>
                        <ion-toolbar color="primary">
                            <ion-title><ion-icon name="cart"></ion-icon> TicketPago</ion-title>
                        </ion-toolbar>
                    </ion-header>
                    <ion-content>
                            <ion-spinner *ngIf="loading" lines color="primary"></ion-spinner>
                            <ion-grid no-padding *ngIf="!loading">
                                <ion-row>
                                    <ion-col col-11 margin-top>
                                        <ion-item>
                                            <ion-label class="label-titulo" stacked color="primary">Email Comprobante</ion-label>
                                            <ion-input #emailInput [(ngModel)]="email" [readonly]="envioEmail()"></ion-input>
                                        </ion-item>
                                    </ion-col>
                                    <!-- Datos del medio de pago -->
                                    <ion-col col-11 margin-top>
                                        <ion-item *ngIf="mediosPagoDisponibles && mediosPagoDisponibles.length">
                                            <ion-label class="label-titulo" stacked color="primary">Medio de Pago</ion-label>
                                            <ion-select [(ngModel)]="selectedMedioPago" [disabled]="medioPagoReadOnly" (ionChange)="selectedMedioChanged()">
                                              <ion-option *ngFor="let medio of mediosPagoDisponibles" [value]="medio">{{medio.detalle}}</ion-option>
                                            </ion-select>
                                        </ion-item>
                                        <ion-item *ngIf="selectedMedioPago">
                                            <ion-label class="label-titulo" stacked color="primary">Plan</ion-label>
                                            <ion-select [(ngModel)]="selectedPlan" [disabled]="planReadOnly" (ionChange)="selectedPlanChanged()">
                                              <ion-option *ngFor="let plan of selectedMedioPago.planes" [value]="plan">{{plan.detalle}}</ion-option>
                                            </ion-select>
                                        </ion-item>
                                        <ion-item *ngIf="selectedCuota && planCuotaReadOnly">
                                            <ion-label class="label-titulo" stacked color="primary">Cuotas</ion-label>
                                            <ion-label class="label-valor">{{ selectedCuota.cuotas }} - {{ selectedCuota.total_cuota_financiada.importe_formateado }}</ion-label>
                                        </ion-item>
                                        <ion-item *ngIf="selectedPlan && !planCuotaReadOnly">
                                            <ion-label class="label-titulo" stacked color="primary">Cuotas</ion-label>
                                            <ion-select [(ngModel)]="selectedCuota" (ionChange)="setFocusInput()">
                                              <ion-option *ngFor="let cuota of selectedPlan.plan_cuotas" [value]="cuota.id">{{cuota.cuotas}} - {{ cuota.total_cuota_financiada.importe_formateado }} </ion-option>
                                            </ion-select>
                                        </ion-item>
                                    </ion-col>
                                    <!--Datos de la tarjeta -->
                                    <ion-col col-11 margin-top *ngIf="selectedPlan?.necesita_autorizacion && selectedCuota"> 
                                        <ion-item>
                                            <ion-label class="label-titulo" stacked color="primary">N° de Tarjeta</ion-label>
                                            <ion-input
                                                #numeroTarjetaInput
                                                type="number"
                                                [(ngModel)]="cardData.card_number"
                                                [readonly]="envioNumeroDeTarjeta()"
                                                id="card_number"
                                            >
                                            </ion-input> 
                                        </ion-item>
                                        <ion-item>
                                            <ion-label class="label-titulo" stacked color="primary">Vencimiento (MMAA)</ion-label>
                                            <ion-input
                                                #vencimientoInput
                                                type="string"
                                                [(ngModel)]="auxCardData.vencimiento"
                                                [readonly]="envioVencimiento()"
                                                maxlength="4"
                                                id="vencimiento"
                                            >
                                            </ion-input> 
                                        </ion-item>
                                        <ion-item>
                                            <ion-label class="label-titulo" stacked color="primary">Nombre (como figura en el plástico)</ion-label>
                                            <ion-input
                                                #duenioTarjetaInput
                                                type="string"
                                                [(ngModel)]="cardData.card_holder_name"
                                                [readonly]="envioCliente()"
                                                id="card_holder_name"
                                            >
                                            </ion-input> 
                                        </ion-item>
                                        <ion-item>
                                            <ion-label class="label-titulo" stacked color="primary">Código de seguridad</ion-label>
                                            <ion-input  type="password" 
                                                        [(ngModel)]="cardData.security_code"
                                                        (blur)="checkFields()"
                                                        id="security_code"
                                                        #codigoSeguridadInput
                                                        >
                                            </ion-input>
                                          </ion-item>
                                    </ion-col>
                                    <!-- Tipo y numero de documento -->
                                    <ion-col col-3 *ngIf="selectedCuota">
                                        <ion-item>
                                            <ion-label class="label-titulo" stacked color="primary">Tipo de documento</ion-label>
                                            <ion-select [(ngModel)]="tipoDocumento">
                                              <ion-option *ngFor="let tipoDoc of selectTipoDni" [value]="tipoDoc.detalle">{{tipoDoc.detalle}}</ion-option>
                                            </ion-select>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col col-9 col-md-8 *ngIf="selectedCuota">
                                        <ion-item>
                                            <ion-label class="label-titulo" stacked color="primary">DNI</ion-label>
                                            <ion-input [(ngModel)]="nroDocumento"></ion-input>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                    </ion-content>
                    <ion-footer>
                        <ion-toolbar>
                          <ion-buttons left *ngIf="!loading">
                            <button ion-button solid (click)='alertVolver()' color="danger">
                                Cancelar
                              </button>
                          </ion-buttons> 
                          <ion-buttons right *ngIf="!loading">
                            <button ion-button solid (click)='pagarClicked()' color="primary">
                              Pagar
                            </button>
                          </ion-buttons>
                        </ion-toolbar>
                    </ion-footer>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>