datos-establecimiento {
    iframe {

        margin-top: 10px;
        width: 100% !important;
        max-height: 300px;

        #mapDiv {
            .div_gm_style {

                display: none;

                div[tabindex="0"] {
                    //display: 
                }
            }
        }
    }
}
