<ion-header>
  <ion-navbar>
    <ion-title>Seleccione una operación para continuar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <button ion-item block text-wrap *ngFor="let i = index; let item of items" (click)="itemClicked(i)">
          <strong>{{item.detalle_operacion | uppercase }}</strong><br/>
          <strong>Usuario quien hizo la reserva: </strong> {{item.usuario.persona.apellido}}, {{item.usuario.persona.nombres}}<br/>
          <span *ngIf="item.reserva_dni || item.reserva_detalle">
            <strong>Reservado para {{item.reserva_dni}}: </strong>{{item.reserva_detalle}}<br/>
          </span>
          <strong>Espectaculo {{item.operacion_funcion_sectores[0].espectaculo.id}}: </strong>{{item.operacion_funcion_sectores[0].espectaculo.nombre}}<br/>
          <strong>Funcion {{item.operacion_funcion_sectores[0].funcion.id}}: </strong>
          {{item.operacion_funcion_sectores[0].funcion.detalle}} el {{item.operacion_funcion_sectores[0].funcion.fec_inicio |date:"shortDate" }}
          a las {{item.operacion_funcion_sectores[0].funcion.fec_inicio |date:"shortTime" }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>
</ion-content>
