
<ion-col>
  <ion-row>
    <ion-col col-12 col-md-3 no-padding >
      <card-info-espectaculo-cartelera [espectaculo]="espectaculo1" *ngFor="let espectaculo1 of espectaculoColumna1"></card-info-espectaculo-cartelera>
    </ion-col>
    <ion-col col-12 col-md-3 no-padding >
      <card-info-espectaculo-cartelera [espectaculo]="espectaculo2" *ngFor="let espectaculo2 of espectaculoColumna2"></card-info-espectaculo-cartelera>
    </ion-col>
    <ion-col col-12 col-md-3 no-padding >
      <card-info-espectaculo-cartelera [espectaculo]="espectaculo3" *ngFor="let espectaculo3 of espectaculoColumna3"></card-info-espectaculo-cartelera>
    </ion-col>
    <ion-col col-12 col-md-3 no-padding >
      <card-info-espectaculo-cartelera [espectaculo]="espectaculo4" *ngFor="let espectaculo4 of espectaculoColumna4"></card-info-espectaculo-cartelera>
    </ion-col>
  </ion-row>
</ion-col>
