modal-devoluciones {
    .contenedor {
    box-sizing: content-box;
    width: 80%;
    padding:1px;
    margin-left: 10%;
    margin-top: 20%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    }

    .titulo {
        text-align: center;
        background-color: color($colors, primary);
        color: white;
    }

    .contenido {
        margin: 0;
    }

    .subtitulo-list {
        text-decoration: underline;
        font-weight: bold;
    }

    hr {
        color: black;
    }



}